.card {
  width: 100%;
  padding: var(--base-unit) calc(var(--base-unit) * 1.5);
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--base-unit);
}

.cardTitle {
  margin: var(--base-unit) 0;
  font-weight: light;
  text-transform: uppercase;
  font-size: var(--font-size);
}

@media (min-width: 650px) {
  .cardContent {
    align-items: center;
    flex-direction: row;
  }
}
